@import "../../app.component.scss";

.main {
  @include mainMixin;
  @include centerMixin;
  flex-direction: column;
  justify-content: space-between;
}
.nav {
  width: 100%;
  height: 15%;
  background-color: rgba(85, 0, 85, 0.3);
  @include centerMixin;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.mania {
  width: 60%;
  height: 85%;
  @include centerMixin;
  justify-content: space-evenly;
}
.profile {
  width: 40%;
  height: 80%;
  background-color: rgba(85, 0, 85, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
  @include centerMixin;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 1s;
}
.profile mat-icon {
  width: 90%;
  height: 70%;
  font-size: 15vmax;

  @include centerMixin;
}
.profile:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.logout {
  width: 7vmax;
  height: 7vmax;
  background-color: rgba(85, 0, 85, 0.7);
  position: absolute;
  top: 80%;
  right: 5%;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  @include centerMixin;
  transition: all 1s;
  overflow: hidden;
  mat-icon {
    width: 70%;
    height: 70%;
    @include centerMixin;
    font-size: 2.5vmax;
  }
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
